

/* Start::CSS for main body*/
*, html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, label, fieldset, input, p, blockquote, th, td {
    margin: 0;
    padding: 0;
    font-family: 'Nunito';
}

article, aside, figure, footer, header, hgroup, nav, section {
    display: block;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {

}


.mobile-view {

}
.desktop-view {

}
.desktop-view h3, .mobile-view h3{
    color: #1d68a7;
}
.desktop-view h1, .mobile-view h1{
    font-size: 30px;
    color: #1d68a7;
    font-weight: bold;
}

/* End::CSS for main body*/

/* Start::CSS for main menu*/
#main-menu {
    /*box-shadow: 5px 5px 5px rgba(40,38,255,0.1);*/
    box-shadow: 2px 2px 2px rgba(41, 39, 44, 0.1);
    padding: 10px;
}

#main-menu a {
    padding-left: 20px;
    padding-right: 20px;
}

.dropdown-menu {
    background-color: #ece0df;
}

.dropdown-menu a:hover {
    background-color: rgba(219, 173, 180, 0.78);
}

.dropdown-item {
    padding: 10px;
}

#dropdown-item a {
    text-align: left;
    box-shadow: 0px 0px;
}
/* End::CSS for main menu*/

/* Start::CSS for home page*/
.slider{
    position: absolute; margin-top: 50px; text-align: center;
}
.slider h1 {
    font-size: 60px; color: #1d68a7; font-weight: bold;
}
.slider h3{
    font-size: 30px;
}

#more-than-delivery i, #more-delivery-option i{
    font-size: 25px;
    color: #1d68a7;
}
#more-than-delivery h3, #more-delivery-option h3{
    font-size: 25px;
    color: #1d68a7;
    font-weight: normal;
}
#more-than-delivery h5, #more-than-delivery h5{

}
#help a{
    text-decoration: none;
    color: #1d68a7;
}
#help a:hover{
    color: #e9605c;
}
/* End::CSS for home page*/

/* Start::CSS for footer*/
#footer{

}
#footer ul li{
    list-style: none;
}
#footer ul li a{
    text-decoration: none;
    color: white;
}
#footer ul li a:hover{
    color: grey;
}
/* End::CSS for footer*/

/* Start::CSS for sidebar*/

.sidebar-sticky {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    top: 0; /* Stay at the top */
    left: 0; /* Stay at the left */
    z-index: 2;
    background-color: #ffffff; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    box-shadow: 2px 2px 2px rgba(41, 39, 44, 0.1);
}

.sidebar-sticky a {
    height: 60px;
    width: 230px;
    line-height: 45px;
    text-decoration: none;
    padding-left: 30px;
    padding-right: 30px;
    color: rgba(67, 75, 117, 0.95);
}

.sidebar-sticky a:hover {
    color: rgba(57, 57, 117, 1);
    line-height: 45px;
    border-left: rgba(57, 57, 117, 0.8) 5px solid;
    background-color: rgba(57, 57, 117, 0.1);
}


#sidebar_logo a {
    height: 60px;
    width: 230px;
    line-height: 45px;
    text-decoration: none;
    color: rgba(67, 75, 117, 0.95);
}

#sidebar_logo a:hover {
    background-color: rgba(0,0,0,0);
    line-height: 45px;
    border-left: 0px;
}
.content-body{

    margin-left: 230px;
    margin-top: 100px;
}
/* End::CSS for sidebar*/
