

/* Start::CSS for main body*/
*, html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, label, fieldset, input, p, blockquote, th, td {
    margin: 0;
    padding: 0;
    font-family: 'Nunito';
}

article, aside, figure, footer, header, hgroup, nav, section {
    display: block;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {

}

/* loading */
.content {
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height:100%;
}
.loader-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #242f3f;
    display:flex;
    justify-content: center;
    align-items: center;
}
.loader {
    display: inline-block;
    width: 30px;
    height: 30px;
    position: relative;
    border: 4px solid #Fff;
    animation: loader 2s infinite ease;
}
.loader-inner {
    vertical-align: top;
    display: inline-block;
    width: 100%;
    background-color: #fff;
    animation: loader-inner 2s infinite ease-in;
}
@keyframes loader {
    0% { transform: rotate(0deg);}
    25% { transform: rotate(180deg);}
    50% { transform: rotate(180deg);}
    75% { transform: rotate(360deg);}
    100% { transform: rotate(360deg);}
}
@keyframes loader-inner {
    0% { height: 0%;}
    25% { height: 0%;}
    50% { height: 100%;}
    75% { height: 100%;}
    100% { height: 0%;}
}

/* loading */

.mobile-view {

}
.desktop-view {

}
.desktop-view h3, .mobile-view h3{
    color: #1d68a7;
}
.desktop-view h1, .mobile-view h1{
    font-size: 30px;
    color: #1d68a7;
    font-weight: bold;
}

/* End::CSS for main body*/

/* Start::CSS for main menu*/
#main-menu {
    /*box-shadow: 5px 5px 5px rgba(40,38,255,0.1);*/
    box-shadow: 2px 2px 2px rgba(41, 39, 44, 0.1);
    padding: 10px;
}

#main-menu a {
    padding-left: 20px;
    padding-right: 20px;
}

.dropdown-menu {
    background-color: #ece0df;
}

.dropdown-menu a:hover {
    background-color: rgba(219, 173, 180, 0.78);
}

.dropdown-item {
    padding: 10px;
}

#dropdown-item a {
    text-align: left;
    box-shadow: 0px 0px;
}
/* End::CSS for main menu*/

/* Start::CSS for home page*/
.slider{
    position: absolute; margin-top: 50px; text-align: center;
}
.slider h1 {
    font-size: 60px; color: #1d68a7; font-weight: bold;
}
.slider h3{
    font-size: 30px;
}

#more-than-delivery i, #more-delivery-option i{
    font-size: 25px;
    color: #1d68a7;
}
#more-than-delivery h3, #more-delivery-option h3{
    font-size: 25px;
    color: #1d68a7;
    font-weight: normal;
}
#more-than-delivery h5, #more-than-delivery h5{

}
#help a{
    text-decoration: none;
    color: #1d68a7;
}
#help a:hover{
    color: #e9605c;
}
/* End::CSS for home page*/

/* Start::CSS for footer*/
.footer{

}
.footer ul li{
    list-style: none;
}
.footer ul li a{
    text-decoration: none;
    color: white;
}
.footer ul li a:hover{
    color: grey;
}
/* End::CSS for footer*/

/* Start::CSS for sidebar*/
.sidebar-sticky {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    top: 0; /* Stay at the top */
    left: 0; /* Stay at the left */
    z-index: 2;
    background-color: #ffffff; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    box-shadow: 2px 2px 2px rgba(41, 39, 44, 0.1);
}

.sidebar-sticky a {
    height: 60px;
    width: 230px;
    line-height: 45px;
    text-decoration: none;
    padding-left: 30px;
    padding-right: 30px;
    color: rgba(67, 75, 117, 0.95);
}

.sidebar-sticky a:hover {
    color: rgba(57, 57, 117, 1);
    line-height: 45px;
    border-left: rgba(57, 57, 117, 0.8) 5px solid;
    background-color: rgba(57, 57, 117, 0.1);
}


#sidebar_logo a {
    height: 60px;
    width: 230px;
    line-height: 45px;
    text-decoration: none;
    color: rgba(67, 75, 117, 0.95);
}

#sidebar_logo a:hover {
    background-color: rgba(0,0,0,0);
    line-height: 45px;
    border-left: 0px;
}
.content-body{

    margin-left: 230px;
    margin-top: 100px;
}
/* End::CSS for sidebar*/

/* Start::CSS for Pricing */
@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,800);
@import url(https://fonts.googleapis.com/css?family=Montserrat:800);
.snip1214 {
    font-family: 'Raleway', Arial, sans-serif;
    color: #000000;
    text-align: center;
    font-size: 16px;
    width: 100%;
    max-width: 1000px;
    margin: 40px 10px;
}
.snip1214 .plan {
    margin: 0;
    width: 25%;
    position: relative;
    float: left;
    background-color: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.1);
}
.snip1214 * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.snip1214 header {
    position: relative;
}
.snip1214 .plan-title {
    position: relative;
    top: 0;
    font-weight: 800;
    padding: 5px 15px;
    margin: 0 auto;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    margin: 0;
    display: inline-block;
    background-color: #0056b3;
    color: #ffffff;
    text-transform: uppercase;
}
.snip1214 .plan-cost {
    padding: 0px 10px 20px;
}
.snip1214 .plan-price {
    font-family: 'Montserrat', Arial, sans-serif;
    font-weight: 800;
    font-size: 1.8em;
    color: #005cbf;
}
.snip1214 .plan-type {
    opacity: 0.6;
}
.snip1214 .plan-features {
    padding: 0;
    margin: 0;
    text-align: center;
    list-style: outside none none;
    font-size: 0.8em;
}
.snip1214 .plan-features li {
    border-top: 1px solid #d2d7e2;
    padding: 10px 5%;
}
.snip1214 .plan-features li:nth-child(even) {
    background: rgba(0, 0, 0, 0.08);
}
.snip1214 .plan-features i {
    margin-right: 8px;
    opacity: 0.9;
}
.snip1214 .plan-select {
    border-top: 1px solid #d2d7e2;
    padding: 10px 10px 0;
}
.snip1214 .plan-select a {
    background-color: #005cbf;
    color: #ffffff;
    text-decoration: none;
    padding: 0.5em 1em;
    -webkit-transform: translateY(50%);
    transform: translateY(50%);
    font-weight: 800;
    text-transform: uppercase;
    display: inline-block;
}
.snip1214 .plan-select a:hover {
    background-color: #1b4b72;
}
.snip1214 .featured {
    margin-top: -10px;
    background-color: #004085;
    color: #ffffff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    z-index: 1;
}
.snip1214 .featured .plan-title,
.snip1214 .featured .plan-price {
    color: #ffffff;
}
.snip1214 .featured .plan-cost {
    padding: 10px 10px 20px;
}
.snip1214 .featured .plan-features li {
    border-top: 1px solid rgba(255, 255, 255, 0.4);
}
.snip1214 .featured .plan-select {
    padding: 20px 10px 0;
    border-top: 1px solid rgba(255, 255, 255, 0.4);
}
/* End::CSS for Pricing */

